<!-- Main Header -->
  <!-- Logo -->
  <a href="/dashboard" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>U</b>ims</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Stairs</b></span>
  </a>
<!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <!-- Menu Toggle Button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <!-- The user image in the navbar-->
            <%if user_signed_in? && current_user.avatar.present? %>
              <%= image_tag(current_user.avatar.url ,size: "20x20")%>
            <%elsif user_signed_in? && !current_user.avatar.present? %>
              <%= image_tag "Default.png"  ,size: "20x20" %>
            <%end%>

            <!-- hidden-xs hides the username on small devices so only the image appears. -->
            <span class="hidden-xs">
              <%if user_signed_in? %>
                <%= current_user.username%>
              <%end%>
            </span>
          </a>
          <ul class="dropdown-menu">
            <!-- The user image in the menu -->
            <li class="user-header">
              <%if user_signed_in? && current_user.avatar.present? %>
                <%= image_tag(current_user.avatar.url ,size: "20x20")%>
              <%elsif user_signed_in? && !current_user.avatar.present? %>
                <%= image_tag "Default.png"  ,size: "20x20" %>
              <%end%> 
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a href="<%= edit_admin_user_path(current_user) %>" class="btn btn-primary">Edit Profile</a>
              </div>
              <div class="pull-right">
                <a href="<%= destroy_user_session_path %>" data-method='delete' class="btn btn-primary" >Sign out</a>
              </div>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <li>
          <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>
      </ul>
    </div>
  </nav>

