<div class="row">
  <%= render 'companies/includes/cover_photo' %>
  <br>
  <div class="tabs-vertical">
    <div class="col-md-3">
      <ul>
        <div class="tabs">
          <li>
            <div class="tab">
              <a href="#overview" class="form-control">
                Overview 
              </a>
            </div>
          </li>          
          <li>
            <div class="tab">
              <a href="#detail" class="form-control" >
              Detail </a>
            </div>
          </li>
          <li>
            <div class="tab">
              <a href="#album" class="form-control">
               Albums 
                </a>
            </div>
          </li>
          <li>
            <div class="tab">
              <a href="#location" id= "map_location" class="form-control"> 
              Location
               </a>
            </div>
          </li>
          <li>
            <div class="tab">
              <a href="#testimonials" class="form-control">
                Testimonials
              </a>
            </div>
          </li>
        </div>
      </ul>
    </div>
    <div class="col-sm-8 col-md-12 col-lg-8">
      <div id="overview">
        <div class="tab-content">
          <%= render 'companies/includes/overview' %>
        </div>
      </div>
      <div id="detail">
        <div class="tab-content">
          <%= render 'companies/includes/company_detail' %>
        </div>
      </div>
      <div id="album">
        <div class="tab-content">
          <div class="album_wrap">
            <%= render 'companies/includes/albums'%>
          </div>
        </div>
      </div>
      <div id="location">
        <div class="tab-content">
          <%= render 'companies/includes/location' %>   
        </div>
      </div>
      <div id="testimonials">
        <div class="tab-content">
          <%= render "admin/companies/includes/testimonials_list" %>
        </div>
      </div>
    </div>
  </div>
</div>
