<% provide(:title, "Trending Posts") %>
	<div class="container">
    <div class="company-second-section mt-0">
      <h3><span class="position-relative">Featured Posts</span></h3> 
      <% if @blog_posts.present? %>
      	<% @blog_posts.in_groups_of(3).each do|blog_posts|%>
		      <div class="row">
		      	<% blog_posts.each do|blog_post| %>
		      		<%if blog_post.present?%>
				        <div class="col-md-4 company-blog-div">
				        	<% @company= blog_post.company %>
									<% @user = User.find_by(:id => @company.user_id).username %>
				          <a href="<%= blog_post_blog_posts_path(@company, @user, blog_post)%>">
				            <div class="company-inner-blog">
				            	<div class="blog-image">
					            	<% if blog_post.featured_image.present? %>
					              	<img src="<%= blog_post.featured_image.url %>">
					              <%else%>
					              	<img src="/assets/missing.png">
					              <%end%>
					            </div>
				              <h4><%= blog_post.title %></h4>
				              <p class="heading-text"><%= truncate(strip_tags(blog_post.body), length: 120)%></p>
				               <p class="location-div"><span><i class="fa fa-clock-o" aria-hidden="true"></i><%= blog_post.created_at.strftime("%B %d, %Y") %></span><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
		                    </p>
				            </div>
				          </a>
				        </div><!-- company-blog-div-->
				      <%end%>
			      <%end%>
		      </div><!-- row-->
		    <%end%>
		  <%end%>
    </div><!-- company-second-section-->
  </div><!--container -->