<div class="container-fluid">
<table class="table">
  <thead>
    <tr>
      <th>Name </th>
      <th>Owner name</th>
      <th>Website</th>
      <th>Email</th>
      <th>Contact person</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
      <% @followed.each do |record| %>
        <tr>
          <td><%= record.company.name %></td>
          <td><%= record.company.owner_name %></td>
          <td><%= record.company.website %></td>
          <td><%= record.company.primary_email %></td>
          <td><%= record.company.contact_person %></td>
          <td><%= link_to 'Show', company_path(record.company.slug), :class => "btn btn-sm btn-primary" %> 
            <%= link_to 'unsubscribe',  "#" ,'data-company' => record.company.id, :class => "btn btn-sm btn-primary", id: "unfollow_company"%>
          </td>
        </tr>
      <%end%>
  </tbody>
</table>
</div>